@import url('https://fonts.googleapis.com/css2?family=Corben&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
body {
    background-color: rgba(233, 216, 252, 0.527);
}
.cabecalho {
    background-color: rgb(2, 224, 253);
    height: 100px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecalho > h1 {
    font-family: 'Corben', cursive;
    font-size: 2.4em;
    color: rgb(57, 4, 117);
}
.navegacao {
    margin: auto;
    padding: 30px 0px;
    width: 900px;
    height: 70px;
    display: flex;
    align-items: center;
}
.botao {
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #000;
    text-decoration: none;
    background-color: rgb(66, 5, 136);
    color: white;
}
.botao:hover {
    background-color: rgb(223, 239, 248);
    color: rgb(66, 5, 136);
    cursor: pointer;
}
.botao:active {
    box-shadow: 1px 1px 2px #000;
}
.container {
    margin: auto;
    padding: 20px 0px;
    width: 900px;

}
.container.events th {
    padding: 5px 7px;
    font-size: 1.2em;
    text-align: left;
    width: 130px;
    height: 30px;
    border-bottom: 1px solid rgb(88, 88, 88);
}
.container.events thead th:nth-child(2) {
    width: 45%;
}
.container.events thead th:nth-child(3) {
    width: 20%;
}
.container.events td {
    padding: 7px 10px 3px;
}
.container td a {
    color: inherit;
    font-weight: 600;
}
.container td a:hover {
    text-decoration: none;
}
.container.events tbody tr:nth-child(odd) {
    background-color: rgba(213, 191, 238, 0.61);
}
.container.events tbody tr:hover {
    background-color: rgba(186, 165, 209, 0.877);
}

/*Register*/
button {
    border: none;
}
.formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.formulario label {
    width: 370px;
    align-self: center;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.formulario .botaoUnico {
    margin: 0;
    justify-content: center;
}
.labelbutton {
    margin-top: 25px;
}
.formulario input {
    width: 220px;
    font-size: 0.9em;
}
.center {
    justify-self: right;
}

/*Details*/

.voltar {
    width: 100px;
}
.detalhes {
    margin-bottom: 15px;
}
.detalhes label {
    margin-bottom: 15px;
}
.detalhes input {
    font-size: 0.8em;
}
.detalhes input[type=text], .guests input {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid rgb(117, 117, 117);
}
.detalhes input[type=text]:focus {
    border: none;
}
.formulario .botoes {
    justify-content: space-around;
}
.container h2 {
    margin-bottom: 15px;
    color: rgb(47, 3, 97);
    font-size: 1.4em;
}
section.container.guests {
    width: 100%;
    padding-top: 0;
}
.container.guests th {
    padding: 5px 7px;
    font-size: 0.9em;
    text-align: left;
    width: 130px;
    height: 30px;
    border-bottom: 1px solid rgb(88, 88, 88);
}
.container.guests thead th:nth-child(1) {
    width: 50%;
}
.container.guests thead th:nth-child(2) {
    width: 20%;
}
.container.guests thead th:nth-child(3) {
    width: 20%;
}
.container.guests td{
    padding: 2px 3px 0px;
    font-size: 0.9em;
}
.container.guests td a {
    font-size: 1em;
}
.guests input {
    width: 100%;
}
.guests td .botao {
    font-size: 0.9em;
    padding: 3px 10px;
}