<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<header class="cabecalho">
		<h1>Eventos</h1>
		<a class="botao" href="/event/register"><h3>Cadastrar evento</h3></a>
	</header>

	<main class="container events">
		<table>
			<thead>
				<th></th>
				<th>Evento</th>
				<th>Local</th>
				<th>Data</th>
				<th>Horário</th>
			</thead>
			<tbody th:each="event : ${events}">
				<tr>
					<td><a th:href="@{/event/details/{id}(id=${event.id})}">Detalhes</a></td>
					<td th:text="${event.name}">Palestra de Java 8</td>
					<td th:text="${event.local}">Auditório 3</td>
					<td th:text="${event.date}">27/10/2021</td>
					<td th:text="${event.time}">14:00</td>
				</tr>
			</tbody>
		</table>
	</main>
</body>
</html>